form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;

    .form-title {
        font-size: 1.8rem;
        color: #fff;
        margin: 1rem 0;
        font-weight: 700;
        width: max-content;
    }

    .input-field {
        max-width: 20rem;
        width: 100%;
        background-color: #f0f0f0;
        margin: 0.5rem;
        height: 2.75rem;
        border-radius: 0.25rem;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;

        i {
            text-align: center;
            line-height: 2.75rem;
            color: #acacac;
            transition: 0.5s;
            font-size: 1rem;
        }

        input, textarea {
            background: none;
            outline: none;
            border: none;
            line-height: 1;
            font-weight: 600;
            font-size: 1rem;
            color: #333;
            resize: none;

            ::placeholder {
                color: #aaa;
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }

    .form-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        transition: all .3s ease-in-out;

        &:hover {
            position: relative;
            transform: scale(1.3);
            font-weight: 700;
            text-shadow: 1px 1px 2px $Grey;
            color: $Orange;
        }
    }

    #message {
        height: 6rem;
    }
}