// ----- FONTS
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// ----- COLORS
$Orange: #ff914d;
$Grey: #a6a6a6;

// ----- MIXINS

@mixin centerflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ----- GLOBAL

* {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    scroll-behavior: smooth;
}

html {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #000;
    color: #fff;
}

hr {
    width: 100%;
}

// HIDE SCROLLBAR
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

// COMMON USE CLASSES

.centerflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greyText {color: $Grey;}

.preset-container {
    @include centerflex;
    flex-direction: column;
    width: 50vw;
    min-height: 80vh;
    margin: auto;
    .a-title {
        font-size: 3rem;
        font-weight: 800;
        margin-left: 3rem;
        // text-shadow: 1px 1px 8px #fff;
        margin: 0;
    }
    .a-desc {font-size: 1.2rem;}
}

