// TOP NAVIGATION BAR AND LOGO
.navbar {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    @media screen and (max-width: 580px) {
        justify-content: center;
        position: -webkit-sticky;
        position: sticky;
    }
    img {
        width: 5rem;
        border-radius: 2.5rem;
    }

    .navlist {
        list-style: none;
        @media screen and (max-width: 580px) {
            display: none;
        }
        .navlist-item {
            margin: 0 1.6rem;
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            text-shadow: 1px 1px 1px $Grey;
            transition: all .3s ease-in-out;
            background: none;
            border: none;

            &:hover,
            &.active {
                position: relative;
                transform: scale(1.3);
                font-weight: 700;
                text-shadow: 3px 3px 8px #fff;
            }
        }

    }
}

// NAVIGATION ARROWS - AKA SWITCHER
.arrow-container {
    position: fixed;
    width: 100vw;
    max-width: 1440px;
    height: 2rem;
    margin: 35vh auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 580px) {
        top: .5rem; 
        margin: 0 auto;
        left: 0;
    }

    .switch-arrows {
        position: absolute;
        font-size: 70px;
        color: $Orange;
        font-weight: 800;
        text-shadow: 1px 1px 3px #fff;
        border: none;
        background-color: transparent;
        height: 4rem;
        width: 4rem;

        &.disabled {
            color: $Grey;
        }
    }

    .arrow-left {
        left: 5%;
    }

    .arrow-right {
        float: right;
        right: 5%;
    }
}